.page {
    /*background-image: url(images/circle.svg);*/
    background-color: #F2E3D0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    color: var(--bs-light);
    font-size: 1.2rem;
}

.pagestyle{
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(5px) brightness(100%);
    height: 100%;
}

main {
    flex: 1 0 auto;

}
footer {
    flex-shrink: 0;
    text-decoration-color: black;
    color: #BF4141;
}

.landingPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a {
    color: #BF4141;
    text-decoration: none;
}

    a:visited {
        color: #BF4141;
    }

a:hover{
    cursor: pointer;
}