@page "/"
<!--The layout will replace the default layout-->
@layout LandingPageLayout
<PageTitle>Chef Khai - Create your next meal</PageTitle>

<div class="page">
	<div class="pagestyle">
		<nav class="row align-items-center p-2">
			<div class="col text-end me-md-3 ">
				<a href="https://www.khai.one/" target="_blank">About</a>
				

			</div>

	
		</nav>
		<main class="landingPage" data-spy="scroll"
			<div class ="text-center">
				<img src="images/circle.svg" height="300"/>
			</div>

			<div class="text-center mt-5">
				<a href="./createmeal" class="btn btn-dark btn-lg">Let's cook</a>
			</div>
			<div class="text-center">
				
			</div>
			<div class="text-center">
			</div>
			<div class="text-center">
				
			</div>
			<div class="text-center">
				
			</div>
			<div class="text-center">
			</div>
			<div class="text-start --bs-secondary-text-emphasis">
                <div class="row row-cols-5 row-cols-lg-2 g-2 g-lg-3">
					<div class="col">
							<div class="p-3"></div>
						</div>
                    <div class="col">
						<div class="col">
							<div class="p-3">
								<p class="h6">
								
								</p>
							</div>
						</div>
						
						
						
                    </div>
                    
                    
                </div>
            </div>
		</main>
		<footer class="text-start p-2">
			&copy; Khai Nguyen
		</footer>
	</div>
	<div>

	</div>
</div>